<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canales creados</title>
</head>
<body>


    <h1>Mostrar Canales</h1>
    <!-- Aquí se puede mostrar la lista de canales creados -->

    <a href="crear_canal_en_servidor.html">Volver a Crear Canales</a>

    <a href="crear_canal_en_servidor.html">Eliminar el Canal</a>

    <script src="../scripts/canales_creados.js" > </script>
    
</body>
</html>