<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat en canal de Discord</title>
</head>
<body>
    <h2>CHAT DE DISCORD</h2>
    <div id="chat-box">
        <!-- Aquí se mostrarán los mensajes del chat -->
    </div>
    <input type="text" id="message" placeholder="Escribe un mensaje...">
    <button id="send">Enviar</button>

    <script src="../scripts/chat_canal.js" > </script>
</body>
</html>

