<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/chat_canal.css">

    <title>Chat en canal de Discord</title>
</head>
<body>
    <h2>CHAT DE DISCORD</h2>
    <div id="chat-box">
        <!-- Aquí se mostrarán los mensajes del chat -->
    </div>
    <div class = "footer">
        <input type="text" id="message" placeholder="Escribe un mensaje...">
        <button id="send">Enviar</button>

    </div>

    <!-- Box para mensajes enviados -->
    <div id="box">
        <!-- Los mensajes enviados se agregarán aquí -->
    </div>


    <script src="../scripts/chat_canal.js" > </script>
</body>
</html>

