<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Canal</title>

</head>
<body>
    <div class="container">
        <h2>Crear Canal</h2>
        <form action="/crear-canal" method="post">
            <label for="nombre">Nombre del Canal:</label>
            <input type="text" id="nombre" name="nombre" required>


            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4"></textarea>

            <button type="submit">Crear Canal</button>
        </form>
    </div>
</body>
</html>
