<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Canal</title>


</head>
<body>
    <div class="container">
        <h2>Crear Canal</h2>
        <form action="" method="post">
            <label for="nombre">Nombre del Canal:</label>
            <br>
            <input type="text" id="nombre" name="nombre" required>
            <br>

            <label for="descripcion">Descripción:</label>
            <br>
            <textarea id="descripcion" name="descripcion" rows="4"></textarea>
            <br>
            <button type="submit">Crear Canal</button> <button type="submit">Cancelar</button>
        </form>
    </div>




    <button id="ver-canales" href="canales_creados.html">Ver Canales</button>




    <script src="../scripts/crear_canal_en_servidor.js" > </script>

</body>
</html>
