<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar datos perfil</title>
</head>
<body>
    <div id="message">
        <h1>User Profile</h1>
        <p><strong>Alias:</strong> <span id="alias"></span></p>
        <p><strong>Correo electronico:</strong> <span id="correo_electronico"></span></p>
        <p><strong>NOmbre:</strong> <span id="nombre"></span></p>
        <p><strong>Apellido:</strong> <span id="apellido"></span></p>
    </div>
    
    <button id="logout">Logout</button>
    
    <script src="../scripts/profile.js"></script>
</body>
</html>