<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
</head>
<body>
    <h1>CREAR UNA CUENTA</h1>
    <form id="Registro_Form">
        <label for="alias">alias:</label>
        <input type="text" id="alias" name="alias" required>
        <br>
        <label for="nombre">nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br>
        <label for="apellido">apellido:</label>
        <input type="text" id="apellido" name="apellido" required>
        <br>
        <label for="fecha_nacimiento">fecha nacimiento:</label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Confirmar</button>
    </form>
    <script src="../scripts/register.js"></script>
</body>
</html>