<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset_password.css">
    <title>Restablecer Contraseña</title>
</head>

<body>
    <body>
        <h1>Cambiar Contraseña</h1>
        <form id="changePasswordForm">
            <label for="currentPassword">Contraseña actual:</label>
            <input type="password" id="currentPassword" name="currentPassword" required>
            <button id="showCurrentPassword" type="button">Mostrar</button>

            <label for="newPassword">Nueva contraseña:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            <button id="showNewPassword" type="button">Mostrar</button>

            <label for="confirmPassword">Confirmar contraseña:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <button id="showConfirmPassword" type="button">Mostrar</button>

            <button type="submit" id="changePasswordButton" disabled>Cambiar Contraseña</button>

            
        </form>
        <p id="mensaje"></p>
            <div id="message"></div> 
        

        <a href="profile.html">Volve a tu perfil</a>
        <script type="module" src="../scripts/reset_password.js"></script>
    </body>

</html>
