<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/servidores.css">
    <title>Servidores</title>
</head>

<body id="myBody">
    <div class="container">
        <div class="barra_lateral">
            <h2>Crear Servidores</h2>
            <button id="open-modal">Nuevo</button>
            <button id="explorar-all">Explorar</button>

            <!-- Formulario de creación de servidor (oculto inicialmente) -->
            <div id="modal" class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close" id="close-modal">&times;</span>
                    <h2>Nuevo Servidor</h2>
                    <form id="nuevo_servidor_form">
                        <label for="nombre_servidor">Nombre del servidor:</label>
                        <input type="text" id="nombre_servidor" name="nombre_servidor" required>

                        <label for="descripcion">Descripción:</label>
                        <input type="text" id="descripcion" name="descripcion" required>

                        <button type="submit">Crear Servidor</button>
                        <button id="unirse-servidor">Unirse a servidor</button>

                    </form>
                </div>
            </div>


            <div class="perfil_miniatura">
                <img src="" alt="foto" srcset="">
                <p>Nombre Perfil</p>
                <a href="profile.html">Perfil</a>
            </div>
            <div class="container_lista_servidores" id="container_lista_servidores"></div>
            <div class="container_lista_canales" id="container_lista_canales"></div>
            <div class="container_lista_mensajes" id="container_lista_mensajes"></div>

        </div>
    </div>

    <!-- <script type="module" src="../scripts/login.js"></script> -->
    <script type="module" src="../scripts/servidores.js"></script>
</body>

</html>