/* Estilo para el cuerpo de la página */
body {
    background-color: #213341;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* Estilo para los encabezados h1 */
h1 {
    color: white;
    background-color: #3D184E;
    padding: 10px;
    margin-bottom: 20px;
    border: 5px solid black;
}

/* Estilo para los enlaces */
a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

/* Estilo para el contenedor principal del formulario */
#changePasswordForm {
    max-width: 500px;
    margin: 0 auto;
    background-color: #3D184E;
    padding: 50px;
    border-radius: 15px;
    border: 5px solid black;
    text-align: left;
}

/* Estilo para las etiquetas de los campos de contraseña */
label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

/* Estilo para los campos de contraseña */
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #3D184E;
    border-radius: 5px;
    background-color: white;
    color: black;
}

/* Estilo para los botones "Mostrar" */
button#showCurrentPassword,
button#showNewPassword,
button#showConfirmPassword {
    background-color: #3D184E;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Cambiar el color al pasar el mouse para los botones "Mostrar" */
button#showCurrentPassword:hover,
button#showNewPassword:hover,
button#showConfirmPassword:hover {
    background-color: darkviolet;
}

/* Estilo para el mensaje de error de coincidencia de contraseñas */
#passwordMatchError {
    color: red;
    margin-top: 10px;
}

/* Estilo para el botón "Cambiar Contraseña" */
button#changePasswordButton {
    background-color: #3D184E;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

/* Cambiar el color al pasar el mouse para el botón "Cambiar Contraseña" */
button#changePasswordButton:hover {
    background-color: darkviolet;
}

/* Estilo para el mensaje de éxito o error */
#message {
    color: red; /* Puedes cambiar el color según tus necesidades */
    margin-top: 10px;
}
#mensaje {
    color: red; /* Puedes cambiar el color según tus necesidades */
    margin-top: 10px;
}